# .gitignore

# DIRETORIOS E ARQUIVOS DO PROJETO ----------------------------

# diretorios grandes de dados e analises
data/
data/raw/
data_mni/
dados_processos/
output/

# arquivos grandes de dados
*.parquet
*.db
*.sqlite
*.json
*.ndjson
*.rds
*.RDS

# outros diretorios e arquivos
abj2016/


# DIRETORIOS E ARQUIVOS DO SISTEMA ----------------------------

# geral
.env
*.log
*.html

# Python
venv/
__pycache__/
*.pyc
*.pyo

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Quarto
*.csl
*.bib

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

#eof----------------------------------------------------------